/* IMPORTANDO LOS ARCHIVOS NECESARIOS */
@import url("/css/models/variables.css/");
@import url("/css/models/essentials.css/");
@import url("/css/models/header.css/");
@import url("/css/models/footer.css/");


/* CÓDIGO PRINCIPAL */
.principal {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - (106px + 85px));
    max-width: 100vw;
    padding: 0 4rem;
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -ms-justify-content: space-between;

    & .contenidoIzq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        gap: 1rem;
        width: calc(100vw / 2 - (1.45rem - 4rem));
        -ms-flex-direction: column;
        -ms-justify-content: center;
        -ms-align-items: baseline;
        -ms-gap: 1rem;

        & .contenidoIzq__titulo {
            font-size: 64px;
            font-weight: bolder;
            text-wrap: wrap;
            cursor: text;
            font-family: var(--ff_titulo);
            font-weight: 600;
            font-variant: small-caps;
            text-transform: capitalize;
            letter-spacing: 2px;
            -ms-text-wrap: wrap;
            -webkit-text-wrap: wrap;
        }

        & .contenidoIzq__descripcion {
            line-height: 1.3rem;
            word-wrap: break-word;
            cursor: text;
            font-family: var(--ff_subtitulo-general);
            font-weight: 500;
            -ms-word-wrap: break-word;
        }
    }

    & .contenidoDer {
        & .containerShape {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: calc(100vw / 2 - (1.45rem - 4rem));
            height: 100%;
            -ms-align-items: center;
            -ms-justify-content: flex-end;

            & .containerShape__img {
                width: 28rem;
                height: 28rem;
            }
        }
    }
}