<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/style.css/" />
        <script type="module" src="./js/app.js/" defer></script>
        <title>Formularios Acme | Bienvenida</title>
    </head>

    <body>
        <header id="encabezado" class="encabezado"></header>

        <main id="principal" class="principal"></main>

        <footer id="pieDePagina" class="pieDePagina"></footer>
    </body>

</html>